body {
    margin: 0;/* по умолчанию есть отступы по 8px, убираем их */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    /*сглазим шрифты*/
    -webkit-font-smoothing: antialiased ;

    background-color: #fff;

}

*,
*:before,
*:after {
    box-sizing: border-box; /*алгоритм подсчета размера блоков с учётом padding*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p{
    margin: 0 0 10px 0; /*у абзацев оставили отступы только снизу*/
}
/* Container ============ */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /*внешние отступы по нулям снизу и сверху, и авто - выровнять по середине */
    padding: 0 15px;
}

/* HEADER =========== */

.header {
    width: 100%;
    height: 100px;

    position: absolute; /*сделаем шапку навигации поверх intro*/
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between; /* это значит, что между элементами нашего header_inner будет пустое место*/
    align-items: center; /*расположим элементы внутри него по центру (по горизонтали)*/
    padding: 35px; /* внутренний отступ сверху и снизу*/
    border-bottom: 1px solid #515369; /* добавили полоску*/
}

/* Navigation =========== */

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; /* сделали все символы большими */
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none; /* убираем подчеркивание ссылок снизу*/
    opacity: 0.75; /*сделали ссылки полупрозрачными*/

    transition: opacity 0.1s linear; /*добавили плавность для прозрачности*/
}

.nav__link:first-child { /*псевдокласс - первый элемент*/
    margin-left: 0px;
}

/*с помощью псевдокласса hover оформим ссылки при наведении на них*/
.nav__link:hover {
    /*text-decoration: underline; - чтобы ссылка подчеркивалась*/ 
    opacity: 1; /*чтобы при наведении курсора пропадала прозрачность*/
}


/* Intro ================== */

.intro {
    display: flex;
    flex-direction: column; /*каждый элемент интро будет начинаться с новой строки*/
    justify-content: center; /*чтобы выровнять контент по центру по вертикали*/
    height: 750px;
    padding-top: 100px; /*чтобы интро начиналось на таком расстояние(размер шапки), т.к. шапка поверх всего*/
    background: #3c1e58 url("img/intro-bg.jpg") center no-repeat; /*/ пока картинка не загрузилась - чтобы видеть фоновый цвет*/
}

/*блок intro_inner ограничивает ширину контента*/
.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto; /*выровняли по центру*/
    text-align: center;
}

.intro__title {
    margin: 0 0 30px 0; /*сверху справа снизу слева*/

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1; /*межстрочный интервал, 1.1 от font-size, можно указывать и в пикселях*/
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/* BUTTON ============== */
.btn {
    display: inline-block; /*чтобы могли создавать padding, размеры и тд*/
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 5px;
    font-family: inherit; /*Берем у родителя*/
    /*если использовали бы <button>, то: border: 0; (т.к. у них есть границы по умолчанию) cursor: pointer; (чтобы менять вид курсора при наведении на кнопку;*/
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    /*чтобы при наведении цвет менялся более плавно*/
    transition: background 0.1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #c21e1e;
}


/* FEATURES ============== */
.features {
    display: flex;
    flex-wrap: wrap; /*разрешаем элементу переходить на новую строку, если он не помещается*/
    margin: 100px 0; 
}

.features__item {
    width: 33.33333%; /*поделили наш features на 3 по ширине*/
    padding: 40px;
    text-align: center;
    margin: 20px 0;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/* FEATURES ============== */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden; /*скрываем всё, что выходит за пределы нашего блока*/
    border-bottom: 1px solid #fff; /*добавим белые разделители между фото */
    border-right: 1px solid #fff;
}


/*при наведении курсора убираем прозрачность с works__content*/
.works__item:hover .works__content {
    opacity: 1;
}


.works__photo {
    position: absolute; /*картинка будет находиться внутри works__item и позиционироваться абсолютно относительно works__item*/
    top: 50%; 
    left: 50%; 
    z-index: 1; /*будет находиться поверх item*/
    
    transform: translate3d(-50%, -50%, 0); /*выровняли картинку ровно по центру (x, y, z)*/
}

.works__content {
    display: flex;
    flex-direction: column; /*каждый элемент внутри занимает всю ширину и находится на новой строке*/
    justify-content: center; /*расположили контент по центру*/
    width: 100%;
    height: 100%;
    text-align: center; /*расположили текст по центру*/
    background-color: rgba(232, 69, 69, 0.9); /*(red, green, blue, прозрачность(opacity)*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /*чтобы был поверх фотографии*/
    opacity: 0; /*скрываем наш блок по умолчанию*/
    transition: opacity 0.2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/* TEAM ============== */

.team {
    margin: 100px 0 70px; /*сверху 100, снизу 70 - т.к. каждый team__item и так имеет margin-bottom 30px*/
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; /*чтобы скомпенсировать padding у team__item, и они начинались ровно слева*/
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: auto; /*чтобы адаптировать и под мобильные устройства*/
}

.team__name {
    margin-bottom: 9px;
    font-size: 22px;
    color: #2d3033
}

.team__prof {
    margin-bottom: 15px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* SOCIAL ===================*/

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center; /*выровняли по горизонтали*/
    align-items: center; /*выровняли по вертикали логотип соц сети*/
    margin-right: 4px;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    background-color: #fff;

    transition: background 0.1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}
.social__icon {
    display: block;
    height: 18px; 
    fill: #c6cacc;
    transition: fill 0.1s linear;
}


/* REVIEWS ===================*/
.reviews {
    background-color: #53345a;
    overflow: hidden; /*если картинки большие - чтобы не вылезали за границы нашего блока*/
}

.reviews__item {
    display: flex;
    flex-wrap: wrap; /*перенос на новую строку*/
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1; /*закрепили фотографию слева внизу поверх reviews__photo*/

    transform: translateY(-50%); /*чтобы в случае, если фотография высоты блока, она оцентровывалась (работает вместе с top: 50%)*/

}

.reviews__content {
    display: flex; 
    padding-left: 80px; /*чтобы отделить текст отзыва от фотографии*/
    width: 50%;

    flex-direction: column;
    justify-content: center;
}

.reviews__text {
    margin-bottom: 25px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}